In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [141]:
waterData = pd.read_excel('/kaggle/input/environment-dataset-part-1/Water System Summary_20231215.xlsx')

In [142]:
waterData.drop([0, 1, 2, 3], inplace = True)
print(waterData)

       Water System Summary Unnamed: 1                       Unnamed: 2  \
4                     33859  FL6531226        MOUNTAIN LAKES CORPORTION
5                     63131  FL3421554          OCALA GARDEN APARTMENTS
6                65078-0000  MO5031436                10 4 WATER SYSTEM
7                     12037  VT0020800      100 MOUNTAIN VIEW ROAD PARK
8                79423-7283  TX1520067    114TH STREET MOBILE HOME PARK
...                     ...        ...                              ...
142940                55991  MN5790251          Zumbro Community Church
142941                55991  MN5790243           Zumbro Falls Golf Club
142942                55944  MN5200120         Zumbro Valley Rec Center
142943                55991  MN5790235     Zumbro Valley Sportsman Club
142944                55985  MN5200017  Zwingli United Church of Christ

                            Unnamed: 3               Unnamed: 4  Unnamed: 5  \
4               Community water system             Ground water        Polk
5               Community water system             Ground water      Marion
6               Community water system             Ground water      Morgan
7               Community water system  Surface water purchased  Bennington
8               Community water system             Ground water     Lubbock
...                                ...                      ...         ...
142940  Transient non-community system             Ground water     Wabasha
142941  Transient non-community system             Ground water     Wabasha
142942  Transient non-community system             Ground water       Dodge
142943  Transient non-community system             Ground water     Wabasha
142944  Transient non-community system             Ground water       Dodge

        Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
4       LAKE WALES        300          4         13          41        2023
5            OCALA         48          2          9          22        2023
6              NaN        160         10         16           8        2023
7       BENNINGTON        290          3          7           7        2023
8              NaN         43         11        237          11        2023
...            ...        ...        ...        ...         ...         ...
142940         NaN         50          3          0           6        2023
142941         NaN         25          3          1           4        2023
142942         NaN         50          5          0           9        2023
142943         NaN         25          3          0           4        2023
142944         NaN         30          4          2           9        2023

[142941 rows x 12 columns]

In [143]:
waterData.reset_index(drop=True, inplace = True)
print(waterData)

       Water System Summary Unnamed: 1                       Unnamed: 2  \
0                     33859  FL6531226        MOUNTAIN LAKES CORPORTION
1                     63131  FL3421554          OCALA GARDEN APARTMENTS
2                65078-0000  MO5031436                10 4 WATER SYSTEM
3                     12037  VT0020800      100 MOUNTAIN VIEW ROAD PARK
4                79423-7283  TX1520067    114TH STREET MOBILE HOME PARK
...                     ...        ...                              ...
142936                55991  MN5790251          Zumbro Community Church
142937                55991  MN5790243           Zumbro Falls Golf Club
142938                55944  MN5200120         Zumbro Valley Rec Center
142939                55991  MN5790235     Zumbro Valley Sportsman Club
142940                55985  MN5200017  Zwingli United Church of Christ

                            Unnamed: 3               Unnamed: 4  Unnamed: 5  \
0               Community water system             Ground water        Polk
1               Community water system             Ground water      Marion
2               Community water system             Ground water      Morgan
3               Community water system  Surface water purchased  Bennington
4               Community water system             Ground water     Lubbock
...                                ...                      ...         ...
142936  Transient non-community system             Ground water     Wabasha
142937  Transient non-community system             Ground water     Wabasha
142938  Transient non-community system             Ground water       Dodge
142939  Transient non-community system             Ground water     Wabasha
142940  Transient non-community system             Ground water       Dodge

        Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
0       LAKE WALES        300          4         13          41        2023
1            OCALA         48          2          9          22        2023
2              NaN        160         10         16           8        2023
3       BENNINGTON        290          3          7           7        2023
4              NaN         43         11        237          11        2023
...            ...        ...        ...        ...         ...         ...
142936         NaN         50          3          0           6        2023
142937         NaN         25          3          1           4        2023
142938         NaN         50          5          0           9        2023
142939         NaN         25          3          0           4        2023
142940         NaN         30          4          2           9        2023

[142941 rows x 12 columns]

In [144]:
column_names = ['Zip Code', 'PWS ID', 'PWS Name', 'PWS Type', 'Primary Source', 'Counties Served', 'Cities Served', 'Population Served', 'Number of Facilities', 'Number of Violations', 'Number of Site Visits', 'Submission Year']
waterData.columns = column_names
print(waterData)

          Zip Code     PWS ID                         PWS Name  \
0            33859  FL6531226        MOUNTAIN LAKES CORPORTION
1            63131  FL3421554          OCALA GARDEN APARTMENTS
2       65078-0000  MO5031436                10 4 WATER SYSTEM
3            12037  VT0020800      100 MOUNTAIN VIEW ROAD PARK
4       79423-7283  TX1520067    114TH STREET MOBILE HOME PARK
...            ...        ...                              ...
142936       55991  MN5790251          Zumbro Community Church
142937       55991  MN5790243           Zumbro Falls Golf Club
142938       55944  MN5200120         Zumbro Valley Rec Center
142939       55991  MN5790235     Zumbro Valley Sportsman Club
142940       55985  MN5200017  Zwingli United Church of Christ

                              PWS Type           Primary Source  \
0               Community water system             Ground water
1               Community water system             Ground water
2               Community water system             Ground water
3               Community water system  Surface water purchased
4               Community water system             Ground water
...                                ...                      ...
142936  Transient non-community system             Ground water
142937  Transient non-community system             Ground water
142938  Transient non-community system             Ground water
142939  Transient non-community system             Ground water
142940  Transient non-community system             Ground water

       Counties Served Cities Served Population Served Number of Facilities  \
0                 Polk    LAKE WALES               300                    4
1               Marion         OCALA                48                    2
2               Morgan           NaN               160                   10
3           Bennington    BENNINGTON               290                    3
4              Lubbock           NaN                43                   11
...                ...           ...               ...                  ...
142936         Wabasha           NaN                50                    3
142937         Wabasha           NaN                25                    3
142938           Dodge           NaN                50                    5
142939         Wabasha           NaN                25                    3
142940           Dodge           NaN                30                    4

       Number of Violations Number of Site Visits Submission Year
0                        13                    41            2023
1                         9                    22            2023
2                        16                     8            2023
3                         7                     7            2023
4                       237                    11            2023
...                     ...                   ...             ...
142936                    0                     6            2023
142937                    1                     4            2023
142938                    0                     9            2023
142939                    0                     4            2023
142940                    2                     9            2023

[142941 rows x 12 columns]

In [145]:
for i in range(len(waterData)):
    waterData.loc[i, 'Zip Code'] = str(waterData.loc[i, 'Zip Code'])#[:5]

In [146]:
waterData.sort_values(by=['Zip Code'], inplace = True)
print(waterData)

       Zip Code     PWS ID                                PWS Name  \
2317      00000  MD0080003                              BANKS ODEE
41061     00000  CO0110040                    ST MARYS GLACIER WSD
105928    00000  OR4190476             LITTLE RIVER CHRISTIAN CAMP
141115    00000  OR4105221                           WINDELLS CAMP
17442     00000  CO0121350                           GRANDVIEW MHP
...         ...        ...                                     ...
54775       nan  NY1330232                 FUNSHINE NURSERY SCHOOL
19204       nan  NY1302123  HAVILAND M.H.P. #1 - ANDREA & DEBRA CT
42408       nan  VI3000524                      SWEET LIME VILLAGE
137599      nan  MD1121298      VICTORIOUS FAITH FELLOWSHIP CHURCH
35361       nan  PR0003882                         QUEBRADA ARENAS

                                  PWS Type  \
2317                Community water system
41061               Community water system
105928      Transient non-community system
141115      Transient non-community system
17442               Community water system
...                                    ...
54775   Non-Transient non-community system
19204               Community water system
42408               Community water system
137599      Transient non-community system
35361               Community water system

                                      Primary Source      Counties Served  \
2317                                    Ground water              Charles
41061   Groundwater under influence of surface water          Clear Creek
105928  Groundwater under influence of surface water              Douglas
141115                                  Ground water            Clackamas
17442                                   Ground water              El Paso
...                                              ...                  ...
54775                                   Ground water             Dutchess
19204                                   Ground water             Dutchess
42408                                   Ground water     St. Croix Island
137599                                  Ground water              Harford
35361                                  Surface water  Vega Baja Municipio

        Cities Served Population Served Number of Facilities  \
2317              NaN                65                    4
41061             NaN               451                   14
105928            NaN                30                    5
141115            NaN                50                    5
17442             NaN                90                    5
...               ...               ...                  ...
54775    RED HOOK (T)                55                    3
19204   HYDE PARK (T)                78                   12
42408             NaN                28                    4
137599            NaN                77                    4
35361       VEGA BAJA              4576                    3

       Number of Violations Number of Site Visits Submission Year
2317                     24                    15            2023
41061                    40                     9            2023
105928                   37                     6            2023
141115                   15                     5            2023
17442                    31                     7            2023
...                     ...                   ...             ...
54775                    66                    40            2023
19204                   111                    39            2023
42408                    14                     3            2023
137599                    1                     4            2023
35361                     0                     1            2023

[142941 rows x 12 columns]

In [147]:
waterData.to_csv("WaterData.csv", encoding='utf-8', index=False)

In [151]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 1.8 MB/s eta 0:00:00a 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [152]:
zipData = pd.read_excel('/kaggle/input/environment-dataset-part-1/zip_code_database.xls')

In [153]:
print(zipData)

         zip      type  decommissioned primary_city acceptable_cities  \
0        501    UNIQUE               0   Holtsville               NaN
1        544    UNIQUE               0   Holtsville               NaN
2        601  STANDARD               0     Adjuntas               NaN
3        602  STANDARD               0       Aguada               NaN
4        603  STANDARD               0    Aguadilla             Ramey
...      ...       ...             ...          ...               ...
42730  99926    PO BOX               0   Metlakatla               NaN
42731  99927    PO BOX               0  Point Baker               NaN
42732  99928    PO BOX               0    Ward Cove               NaN
42733  99929    PO BOX               0     Wrangell               NaN
42734  99950    PO BOX               0    Ketchikan  Edna Bay, Kasaan

                                     unacceptable_cities state  \
0                               Internal Revenue Service    NY
1                               Internal Revenue Service    NY
2      Colinas Del Gigante, Jard De Adjuntas, Urb San...    PR
3      Alts De Aguada, Bo Guaniquilla, Comunidad Las ...    PR
4      Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...    PR
...                                                  ...   ...
42730                                                NaN    AK
42731                                                NaN    AK
42732                                                NaN    AK
42733                                                NaN    AK
42734                                                NaN    AK

                                        county             timezone  \
0                               Suffolk County     America/New_York
1                               Suffolk County     America/New_York
2                           Adjuntas Municipio  America/Puerto_Rico
3                             Aguada Municipio  America/Puerto_Rico
4                          Aguadilla Municipio  America/Puerto_Rico
...                                        ...                  ...
42730        Prince of Wales-Hyder Census Area   America/Metlakatla
42731        Prince of Wales-Hyder Census Area        America/Sitka
42732                Ketchikan Gateway Borough        America/Sitka
42733                Wrangell City and Borough        America/Sitka
42734  Prince of Wales-Outer Ketchikan Borough        America/Sitka

                    area_codes world_region country  latitude  longitude  \
0                          631          NaN      US     40.81     -73.04
1                          631          NaN      US     40.81     -73.04
2                     787, 939          NaN      US     18.16     -66.72
3                     787, 939          NaN      US     18.38     -67.18
4                     787, 939          NaN      US     18.43     -67.15
...                        ...          ...     ...       ...        ...
42730                      907          NaN      US     55.14    -131.49
42731                      907          NaN      US     56.33    -133.61
42732                      907          NaN      US     55.45    -131.79
42733  236, 250, 672, 778, 907          NaN      US     56.41    -131.61
42734                      907          NaN      US     55.34    -131.64

       irs_estimated_population
0                           562
1                             0
2                             0
3                             0
4                             0
...                         ...
42730                      1140
42731                        48
42732                      1530
42733                      2145
42734                       262

[42735 rows x 15 columns]

In [154]:
zipData.sort_values(by=['zip'], inplace = True)

In [156]:
zipData.to_csv("ZipData.csv", encoding='utf-8', index=False)

In [148]:
airData = pd.read_csv('/kaggle/input/environment-dataset-part-1/uspollution_pollution_us_2000_2016.csv')

In [149]:
airData.drop(['Unnamed: 0'], axis=1, inplace = True)
print(airData)

         State Code  County Code  Site Num  \
0                 4           13      3002
1                 4           13      3002
2                 4           13      3002
3                 4           13      3002
4                 4           13      3002
...             ...          ...       ...
1746656          56           21       100
1746657          56           21       100
1746658          56           21       100
1746659          56           21       100
1746660          56           21       100

                                         Address    State    County  \
0        1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa
1        1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa
2        1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa
3        1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa
4        1645 E ROOSEVELT ST-CENTRAL PHOENIX STN  Arizona  Maricopa
...                                          ...      ...       ...
1746656    NCore - North Cheyenne Soccer Complex  Wyoming   Laramie
1746657    NCore - North Cheyenne Soccer Complex  Wyoming   Laramie
1746658    NCore - North Cheyenne Soccer Complex  Wyoming   Laramie
1746659    NCore - North Cheyenne Soccer Complex  Wyoming   Laramie
1746660    NCore - North Cheyenne Soccer Complex  Wyoming   Laramie

                  City  Date Local          NO2 Units   NO2 Mean  ...  \
0              Phoenix  2000-01-01  Parts per billion  19.041667  ...
1              Phoenix  2000-01-01  Parts per billion  19.041667  ...
2              Phoenix  2000-01-01  Parts per billion  19.041667  ...
3              Phoenix  2000-01-01  Parts per billion  19.041667  ...
4              Phoenix  2000-01-02  Parts per billion  22.958333  ...
...                ...         ...                ...        ...  ...
1746656  Not in a city  2016-03-30  Parts per billion   1.083333  ...
1746657  Not in a city  2016-03-31  Parts per billion   0.939130  ...
1746658  Not in a city  2016-03-31  Parts per billion   0.939130  ...
1746659  Not in a city  2016-03-31  Parts per billion   0.939130  ...
1746660  Not in a city  2016-03-31  Parts per billion   0.939130  ...

                 SO2 Units  SO2 Mean  SO2 1st Max Value SO2 1st Max Hour  \
0        Parts per billion  3.000000                9.0               21
1        Parts per billion  3.000000                9.0               21
2        Parts per billion  2.975000                6.6               23
3        Parts per billion  2.975000                6.6               23
4        Parts per billion  1.958333                3.0               22
...                    ...       ...                ...              ...
1746656  Parts per billion  0.000000                0.0                2
1746657  Parts per billion -0.022727                0.0                0
1746658  Parts per billion -0.022727                0.0                0
1746659  Parts per billion  0.000000                0.0                5
1746660  Parts per billion  0.000000                0.0                5

         SO2 AQI           CO Units   CO Mean  CO 1st Max Value  \
0           13.0  Parts per million  1.145833             4.200
1           13.0  Parts per million  0.878947             2.200
2            NaN  Parts per million  1.145833             4.200
3            NaN  Parts per million  0.878947             2.200
4            4.0  Parts per million  0.850000             1.600
...          ...                ...       ...               ...
1746656      NaN  Parts per million  0.091667             0.100
1746657      0.0  Parts per million  0.067714             0.127
1746658      0.0  Parts per million  0.100000             0.100
1746659      NaN  Parts per million  0.067714             0.127
1746660      NaN  Parts per million  0.100000             0.100

        CO 1st Max Hour  CO AQI
0                    21     NaN
1                    23    25.0
2                    21     NaN
3                    23    25.0
4                    23     NaN
...                 ...     ...
1746656               2     1.0
1746657               0     NaN
1746658               0     1.0
1746659               0     NaN
1746660               0     1.0

[1746661 rows x 28 columns]

In [ ]:
geoData = pd.read_csv('/kaggle/input/environment-dataset-part-1/geo-data.csv')

In [160]:
print(geoData)

       state_fips    state state_abbr zipcode      county        city
0               1  Alabama         AL   35004   St. Clair       Acmar
1               1  Alabama         AL   35005   Jefferson  Adamsville
2               1  Alabama         AL   35006   Jefferson       Adger
3               1  Alabama         AL   35007      Shelby    Keystone
4               1  Alabama         AL   35010  Tallapoosa    New site
...           ...      ...        ...     ...         ...         ...
33098          56  Wyoming         WY   83126     Lincoln       Smoot
33099          56  Wyoming         WY   83127     Lincoln      Thayne
33100          56  Wyoming         WY   83128     Lincoln      Alpine
33101          56  Wyoming         WY   831HH     Lincoln  Zcta 831hh
33102          56  Wyoming         WY   831XX     Lincoln  Zcta 831xx

[33103 rows x 6 columns]

In [10]:
NO2Data = pd.read_csv('/kaggle/input/environment-dataset-part-3/NO2-2016.csv')
O3Data = pd.read_csv('/kaggle/input/environment-dataset-part-3/O3-2016.csv')
PM25Data = pd.read_csv('/kaggle/input/environment-dataset-part-3/PM2-5-2016.csv')

In [11]:
print(PM25Data)

         ZIP      pm25 STATE
0         12  3.825583    CA
1         14  3.453022    AZ
2         15  2.790984    AZ
3         16  4.752986    CA
4         17  2.810846    CA
...      ...       ...   ...
40661  99363  4.320893    WA
40662  99371  4.028297    WA
40663  99401  3.293838    WA
40664  99402  3.585183    WA
40665  99403  3.073741    WA

[40666 rows x 3 columns]

In [12]:
NO2Data.sort_values(by=['ZIP'], inplace = True)
O3Data.sort_values(by=['ZIP'], inplace = True)
PM25Data.sort_values(by=['ZIP'], inplace = True)

In [16]:
print(PM25Data)

         ZIP      pm25 STATE
0         12  3.825583    CA
1         14  3.453022    AZ
2         15  2.790984    AZ
3         16  4.752986    CA
4         17  2.810846    CA
...      ...       ...   ...
40661  99363  4.320893    WA
40662  99371  4.028297    WA
40663  99401  3.293838    WA
40664  99402  3.585183    WA
40665  99403  3.073741    WA

[40666 rows x 3 columns]

In [17]:
merged_data = pd.merge(NO2Data, O3Data, on='ZIP', how='outer')
merged_data = pd.merge(merged_data, PM25Data, on='ZIP', how='outer')

In [19]:
merged_data.drop('STATE_x', axis=1, inplace = True)
merged_data.drop('STATE_y', axis=1, inplace = True)
print(merged_data)

         ZIP        no2      ozone      pm25 STATE
0         12   6.113702  44.541253  3.825583    CA
1         14  10.098571  47.434103  3.453022    AZ
2         15  10.053148  47.945111  2.790984    AZ
3         16   5.520178  51.858866  4.752986    CA
4         17   7.435568  50.888841  2.810846    CA
...      ...        ...        ...       ...   ...
40661  50614        NaN  35.273919  7.434788    IA
40662  58202        NaN  34.321771  6.975893    ND
40663  70609        NaN  34.843942  8.128150    LA
40664  84150        NaN  43.245588  8.882013    UT
40665  90639        NaN  44.208158  8.808163    CA

[40666 rows x 5 columns]

In [20]:
zipData = pd.read_csv('/kaggle/input/environment-dataset-part-3/ZipData.csv')

In [21]:
print(zipData)

         zip      type  decommissioned primary_city acceptable_cities  \
0        501    UNIQUE               0   Holtsville               NaN
1        544    UNIQUE               0   Holtsville               NaN
2        601  STANDARD               0     Adjuntas               NaN
3        602  STANDARD               0       Aguada               NaN
4        603  STANDARD               0    Aguadilla             Ramey
...      ...       ...             ...          ...               ...
42730  99926    PO BOX               0   Metlakatla               NaN
42731  99927    PO BOX               0  Point Baker               NaN
42732  99928    PO BOX               0    Ward Cove               NaN
42733  99929    PO BOX               0     Wrangell               NaN
42734  99950    PO BOX               0    Ketchikan  Edna Bay, Kasaan

                                     unacceptable_cities state  \
0                               Internal Revenue Service    NY
1                               Internal Revenue Service    NY
2      Colinas Del Gigante, Jard De Adjuntas, Urb San...    PR
3      Alts De Aguada, Bo Guaniquilla, Comunidad Las ...    PR
4      Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...    PR
...                                                  ...   ...
42730                                                NaN    AK
42731                                                NaN    AK
42732                                                NaN    AK
42733                                                NaN    AK
42734                                                NaN    AK

                                        county             timezone  \
0                               Suffolk County     America/New_York
1                               Suffolk County     America/New_York
2                           Adjuntas Municipio  America/Puerto_Rico
3                             Aguada Municipio  America/Puerto_Rico
4                          Aguadilla Municipio  America/Puerto_Rico
...                                        ...                  ...
42730        Prince of Wales-Hyder Census Area   America/Metlakatla
42731        Prince of Wales-Hyder Census Area        America/Sitka
42732                Ketchikan Gateway Borough        America/Sitka
42733                Wrangell City and Borough        America/Sitka
42734  Prince of Wales-Outer Ketchikan Borough        America/Sitka

                    area_codes world_region country  latitude  longitude  \
0                          631          NaN      US     40.81     -73.04
1                          631          NaN      US     40.81     -73.04
2                     787, 939          NaN      US     18.16     -66.72
3                     787, 939          NaN      US     18.38     -67.18
4                     787, 939          NaN      US     18.43     -67.15
...                        ...          ...     ...       ...        ...
42730                      907          NaN      US     55.14    -131.49
42731                      907          NaN      US     56.33    -133.61
42732                      907          NaN      US     55.45    -131.79
42733  236, 250, 672, 778, 907          NaN      US     56.41    -131.61
42734                      907          NaN      US     55.34    -131.64

       irs_estimated_population
0                           562
1                             0
2                             0
3                             0
4                             0
...                         ...
42730                      1140
42731                        48
42732                      1530
42733                      2145
42734                       262

[42735 rows x 15 columns]

In [22]:
zipData.drop(['state', 'country', 'world_region', 'decommissioned'], axis=1, inplace = True)

In [23]:
print(zipData)

         zip      type primary_city acceptable_cities  \
0        501    UNIQUE   Holtsville               NaN
1        544    UNIQUE   Holtsville               NaN
2        601  STANDARD     Adjuntas               NaN
3        602  STANDARD       Aguada               NaN
4        603  STANDARD    Aguadilla             Ramey
...      ...       ...          ...               ...
42730  99926    PO BOX   Metlakatla               NaN
42731  99927    PO BOX  Point Baker               NaN
42732  99928    PO BOX    Ward Cove               NaN
42733  99929    PO BOX     Wrangell               NaN
42734  99950    PO BOX    Ketchikan  Edna Bay, Kasaan

                                     unacceptable_cities  \
0                               Internal Revenue Service
1                               Internal Revenue Service
2      Colinas Del Gigante, Jard De Adjuntas, Urb San...
3      Alts De Aguada, Bo Guaniquilla, Comunidad Las ...
4      Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...
...                                                  ...
42730                                                NaN
42731                                                NaN
42732                                                NaN
42733                                                NaN
42734                                                NaN

                                        county             timezone  \
0                               Suffolk County     America/New_York
1                               Suffolk County     America/New_York
2                           Adjuntas Municipio  America/Puerto_Rico
3                             Aguada Municipio  America/Puerto_Rico
4                          Aguadilla Municipio  America/Puerto_Rico
...                                        ...                  ...
42730        Prince of Wales-Hyder Census Area   America/Metlakatla
42731        Prince of Wales-Hyder Census Area        America/Sitka
42732                Ketchikan Gateway Borough        America/Sitka
42733                Wrangell City and Borough        America/Sitka
42734  Prince of Wales-Outer Ketchikan Borough        America/Sitka

                    area_codes  latitude  longitude  irs_estimated_population
0                          631     40.81     -73.04                       562
1                          631     40.81     -73.04                         0
2                     787, 939     18.16     -66.72                         0
3                     787, 939     18.38     -67.18                         0
4                     787, 939     18.43     -67.15                         0
...                        ...       ...        ...                       ...
42730                      907     55.14    -131.49                      1140
42731                      907     56.33    -133.61                        48
42732                      907     55.45    -131.79                      1530
42733  236, 250, 672, 778, 907     56.41    -131.61                      2145
42734                      907     55.34    -131.64                       262

[42735 rows x 11 columns]

In [27]:
zipData.rename(columns = {'zip': 'ZIP'}, inplace = True)
print(zipData)

         ZIP      type primary_city acceptable_cities  \
0        501    UNIQUE   Holtsville               NaN
1        544    UNIQUE   Holtsville               NaN
2        601  STANDARD     Adjuntas               NaN
3        602  STANDARD       Aguada               NaN
4        603  STANDARD    Aguadilla             Ramey
...      ...       ...          ...               ...
42730  99926    PO BOX   Metlakatla               NaN
42731  99927    PO BOX  Point Baker               NaN
42732  99928    PO BOX    Ward Cove               NaN
42733  99929    PO BOX     Wrangell               NaN
42734  99950    PO BOX    Ketchikan  Edna Bay, Kasaan

                                     unacceptable_cities  \
0                               Internal Revenue Service
1                               Internal Revenue Service
2      Colinas Del Gigante, Jard De Adjuntas, Urb San...
3      Alts De Aguada, Bo Guaniquilla, Comunidad Las ...
4      Bda Caban, Bda Esteves, Bo Borinquen, Bo Ceiba...
...                                                  ...
42730                                                NaN
42731                                                NaN
42732                                                NaN
42733                                                NaN
42734                                                NaN

                                        county             timezone  \
0                               Suffolk County     America/New_York
1                               Suffolk County     America/New_York
2                           Adjuntas Municipio  America/Puerto_Rico
3                             Aguada Municipio  America/Puerto_Rico
4                          Aguadilla Municipio  America/Puerto_Rico
...                                        ...                  ...
42730        Prince of Wales-Hyder Census Area   America/Metlakatla
42731        Prince of Wales-Hyder Census Area        America/Sitka
42732                Ketchikan Gateway Borough        America/Sitka
42733                Wrangell City and Borough        America/Sitka
42734  Prince of Wales-Outer Ketchikan Borough        America/Sitka

                    area_codes  latitude  longitude  irs_estimated_population
0                          631     40.81     -73.04                       562
1                          631     40.81     -73.04                         0
2                     787, 939     18.16     -66.72                         0
3                     787, 939     18.38     -67.18                         0
4                     787, 939     18.43     -67.15                         0
...                        ...       ...        ...                       ...
42730                      907     55.14    -131.49                      1140
42731                      907     56.33    -133.61                        48
42732                      907     55.45    -131.79                      1530
42733  236, 250, 672, 778, 907     56.41    -131.61                      2145
42734                      907     55.34    -131.64                       262

[42735 rows x 11 columns]

In [28]:
merged_data = pd.merge(merged_data, zipData, on='ZIP', how='outer')
print(merged_data)

         ZIP        no2      ozone      pm25 STATE    type primary_city  \
0         12   6.113702  44.541253  3.825583    CA     NaN          NaN
1         14  10.098571  47.434103  3.453022    AZ     NaN          NaN
2         15  10.053148  47.945111  2.790984    AZ     NaN          NaN
3         16   5.520178  51.858866  4.752986    CA     NaN          NaN
4         17   7.435568  50.888841  2.810846    CA     NaN          NaN
...      ...        ...        ...       ...   ...     ...          ...
42917  99926        NaN        NaN       NaN   NaN  PO BOX   Metlakatla
42918  99927        NaN        NaN       NaN   NaN  PO BOX  Point Baker
42919  99928        NaN        NaN       NaN   NaN  PO BOX    Ward Cove
42920  99929        NaN        NaN       NaN   NaN  PO BOX     Wrangell
42921  99950        NaN        NaN       NaN   NaN  PO BOX    Ketchikan

      acceptable_cities unacceptable_cities  \
0                   NaN                 NaN
1                   NaN                 NaN
2                   NaN                 NaN
3                   NaN                 NaN
4                   NaN                 NaN
...                 ...                 ...
42917               NaN                 NaN
42918               NaN                 NaN
42919               NaN                 NaN
42920               NaN                 NaN
42921  Edna Bay, Kasaan                 NaN

                                        county            timezone  \
0                                          NaN                 NaN
1                                          NaN                 NaN
2                                          NaN                 NaN
3                                          NaN                 NaN
4                                          NaN                 NaN
...                                        ...                 ...
42917        Prince of Wales-Hyder Census Area  America/Metlakatla
42918        Prince of Wales-Hyder Census Area       America/Sitka
42919                Ketchikan Gateway Borough       America/Sitka
42920                Wrangell City and Borough       America/Sitka
42921  Prince of Wales-Outer Ketchikan Borough       America/Sitka

                    area_codes  latitude  longitude  irs_estimated_population
0                          NaN       NaN        NaN                       NaN
1                          NaN       NaN        NaN                       NaN
2                          NaN       NaN        NaN                       NaN
3                          NaN       NaN        NaN                       NaN
4                          NaN       NaN        NaN                       NaN
...                        ...       ...        ...                       ...
42917                      907     55.14    -131.49                    1140.0
42918                      907     56.33    -133.61                      48.0
42919                      907     55.45    -131.79                    1530.0
42920  236, 250, 672, 778, 907     56.41    -131.61                    2145.0
42921                      907     55.34    -131.64                     262.0

[42922 rows x 15 columns]

In [59]:
for i in range(len(merged_data)):
    zipStr = str(merged_data.loc[i, 'ZIP'])
    if (zipStr == 'nan'):
        zipStr = ""
    missing = 5 - len(zipStr)
    for j in range(missing):
        zipStr = '0' + zipStr
    merged_data.loc[i, 'ZIP'] = zipStr
    for col in ['no2', 'ozone', 'pm25', 'STATE', 'type', 'primary_city', 'acceptable_cities', 'unacceptable_cities', 'county', 'timezone', 'area_codes', 'latitude', 'longitude', 'irs_estimated_population']:
        dataStr = str(merged_data.loc[i, col])
        if (dataStr == "") or (dataStr == 'nan') or (dataStr == 'NaN'):
            dataStr = "X"
        merged_data.loc[i, col] = dataStr

In [60]:
print(merged_data)

,ZIP,no2,ozone,pm25,STATE,type,primary_city,acceptable_cities,unacceptable_cities,county,timezone,area_codes,latitude,longitude,irs_estimated_population
0,00012,6.11370206573695,44.5412533284194,3.825583084003,CA,X,X,X,X,X,X,X,X,X,X
1,00014,10.0985712716457,47.434103169082,3.45302217213734,AZ,X,X,X,X,X,X,X,X,X,X
2,00015,10.0531477737993,47.9451112416397,2.79098391695552,AZ,X,X,X,X,X,X,X,X,X,X
3,00016,5.52017808731581,51.858865941042,4.75298638621625,CA,X,X,X,X,X,X,X,X,X,X
4,00017,7.43556795040812,50.8888411622384,2.81084611385284,CA,X,X,X,X,X,X,X,X,X,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42917,99926,X,X,X,X,PO BOX,Metlakatla,X,X,Prince of Wales-Hyder Census Area,America/Metlakatla,907,55.14,-131.49,1140.0
42918,99927,X,X,X,X,PO BOX,Point Baker,X,X,Prince of Wales-Hyder Census Area,America/Sitka,907,56.33,-133.61,48.0
42919,99928,X,X,X,X,PO BOX,Ward Cove,X,X,Ketchikan Gateway Borough,America/Sitka,907,55.45,-131.79,1530.0
42920,99929,X,X,X,X,PO BOX,Wrangell,X,X,Wrangell City and Borough,America/Sitka,"236, 250, 672, 778, 907",56.41,-131.61,2145.0
42921,99950,X,X,X,X,PO BOX,Ketchikan,"Edna Bay, Kasaan",X,Prince of Wales-Outer Ketchikan Borough,America/Sitka,907,55.34,-131.64,262.0

In [62]:
merged_data.to_csv("regionData.csv", encoding='utf-8', index=False)